@import "tailwindcss";
/* @plugin "daisyui" {
    themes: cupcake --default, night --prefersdark;
} */
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "zhongdark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.2 0.0816 29.23);
  --color-base-200: oklch(0.15 0.0614 29.23);
  --color-base-300: oklch(0.1 0.0408 29.23);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-primary: oklch(98% 0.003 247.858);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(83.27% 0.0764 298.3);
  --color-secondary-content: oklch(43.27% 0.0764 298.3);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(0.3 0.1229 29.23);
  --color-neutral-content: oklch(90% 0.076 70.697);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(44.8% 0.1962 84.62);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(27% 0.1985 24.22);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "zhonglight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(84.133% 0.065 90.856);
  --color-base-content: oklch(41% 0.112 45.904);
  --color-primary: oklch(0.5 0.2029 26.042);
  --color-primary-content: oklch(95% 0.038 75.164);
  --color-secondary: oklch(83.27% 0.0764 298.3);
  --color-secondary-content: oklch(43.27% 0.0764 298.3);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(0.4429 0.065 90.856);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(96% 0.059 95.617);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

.tooltip.tooltip-align-end::before {
    left: auto; /* Unset the default left alignment */
    right: 0; /* Align to the right edge of the parent */
    transform: translateX(0%); /* Remove the centering transform */   
}

@keyframes draw-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-stroke-hint {
  animation: draw-stroke 1s ease-in-out forwards;
}
